<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Compteurs S{{week}}-{{year}}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <form>
      <div class="input-group">
        <select class="custom-select" name="week" required="">
          <option selected>Semaine</option>
          {{year_select}}
        </select>
        <select class="custom-select" name="year" required="">
          <option selected>Année</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Sélectionner</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-3">
    <div class="sticky-top">
      {{#each data}}
        <a href="#{{this.departement}}" class="my-2 d-block text-dark">{{this.departement}}</a>
      {{/each}}      
    </div>
  </div>
  <div class="col-md-9">
    {{#each data}}
      <div class="table-responsive" id="display-data">
        <h3 id="{{this.departement}}" class="py-5">{{this.departement}}</h3>
        <table class="table table-striped table-sm text-center">
          <thead class="">
            <tr class="bg-primary">
              <th>MAGASIN</th>
              <th colspan="3" class="border-right">CA TTC</th>
              <th colspan="5" class="border-right">MARGE</th>
              <th colspan="5" class="border-right">STOCK FIN</th>
            </tr>
            <tr id="table-data-shop" class="subheading">
              <th></th>
              <th>n-1</th>
              <th>n</th>
              <th>% prog /n-1</th>
              <th>% n-1</th>
              <th>€ n-1</th>
              <th>% n</th>
              <th>€ n</th>
              <th>% prog /n-1</th>
              <th>n-1</th>
              <th>n</th>
              <th>% prog /n-1</th>
              <th>Stock Théorique</th>
              <th>Sur-stock</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.datas}}
              <tr>
                <td class="font-weight-bold">{{this.shop}}</td>
                <td>{{milleDisplay this.CA_P1}}€</td>
                <td>{{milleDisplay this.CA_P2}}€</td>
                <td>{{this.PROG_CA_ttc}}%</td>
                <td>{{this.POURC_marge_P1}}%</td>
                <td>{{milleDisplay this.MARGE_P1}}€</td>
                <td>{{this.POURC_marge_P2}}%</td>
                <td>{{milleDisplay this.MARGE_P2}}€</td>
                <td>{{this.PROG_euro_Marge_pourc}}%</td>
                <td>{{milleDisplay this.STOCK_fin_P1}}€</td>
                <td>{{milleDisplay this.STOCK_fin_P2}}€</td>
                <td>{{this.PROG_Stock_fin}}%</td>
                <td>{{milleDisplay this.STOCK_Theorique}}€</td>
                <td>{{this.STOCK_surplus_POURC}}%</td>
              </tr>
            {{/each}}
            <tr class="font-weight-bold">
              <td >{{total.shop}}</td>
              <td>{{milleDisplay total.CA_P1}}€</td>
              <td>{{milleDisplay total.CA_P2}}€</td>
              <td>{{total.PROG_CA_ttc}}%</td>
              <td>{{total.POURC_marge_P1}}%</td>
              <td>{{milleDisplay total.MARGE_P1}}€</td>
              <td>{{total.POURC_marge_P2}}%</td>
              <td>{{milleDisplay total.MARGE_P2}}€</td>
              <td>{{total.PROG_euro_Marge_pourc}}%</td>
              <td>{{milleDisplay total.STOCK_fin_P1}}€</td>
              <td>{{milleDisplay total.STOCK_fin_P2}}€</td>
              <td>{{total.PROG_Stock_fin}}%</td>
              <td>{{milleDisplay total.STOCK_Theorique}}€</td>
              <td>{{total.STOCK_surplus_POURC}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    {{/each}}    
  </div>
</div>

