<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  {{#if cumul}}
    <h1 class="h2">Cumul chiffres</h1>
    <div class="d-block text-muted">Période en cours : 
    <span class="font-weight-bold">S{{week.week_start}}-{{week.year_start}} - S{{week.week_end}}-{{week.year_end}}</span></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <form>
        <div class="input-group">
          <select class="custom-select" name="week_start" required="">
            <option selected>Semaine Debut</option>
            {{year_select}}
          </select>
          <select class="custom-select" name="year_start" required="">
            <option selected>Année Debut</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
          <select class="custom-select" name="week_end" required="">
            <option selected>Semaine Debut</option>
            {{year_select}}
          </select>
          <select class="custom-select" name="year_end" required="">
            <option selected>Année Debut</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Sélectionner</button>
          </div>
        </div>
      </form>
    </div>  
  {{else}}
    <h1 class="h2">Compteurs S{{week}}-{{year}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <form>
        <div class="input-group">
          <select class="custom-select" name="week" required="">
            <option selected>Semaine</option>
            {{year_select}}
          </select>
          <select class="custom-select" name="year" required="">
            <option selected>Année</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Sélectionner</button>
          </div>
        </div>
      </form>
    </div>  
  {{/if}}
</div>

<div class="table-responsive" id="display-data">
  <table class="table table-striped table-sm text-center">
    <thead class="">
      <tr class="bg-primary">
        <th>Magasin</th>
        <th colspan="3" class="border-right">CA TTC</th>
        <th colspan="4" class="border-right">MARGE</th>
        <th colspan="5" class="border-right">STOCK FIN</th>
        <th colspan="3" class="border-right">Qté VENTES</th>
        <th colspan="3" class="border-right">Nb Tickets</th>
        <th colspan="2" class="border-right">IDV</th>
        <th colspan="3" class="border-right">PANIER MOYEN</th>
        <th colspan="2" class="border-right">CA TTC /m²</th>
      </tr>
      <tr id="table-data-shop" class="subheading">
        <th></th>
        <th>n-1</th>
        <th>n</th>
        <th>% prog /n-1</th>
        <th>% n-1</th>
        <th>€ n-1</th>
        <th>% n</th>
        <th>€ n</th>
        <th>n-1</th>
        <th>n</th>
        <th>% prog /n-1</th>
        <th>Stock Théorique</th>
        <th>Sur-stock</th>
        <th>n-1</th>
        <th>n</th>
        <th>% prog /n-1</th>
        <th>n-1</th>
        <th>n</th>
        <th>% prog /n-1</th>
        <th>n-1</th>
        <th>n</th>
        <th>n-1</th>
        <th>n</th>
        <th>% prog /n-1</th>
        <th>n-1</th>
        <th>n</th>
      </tr>
    </thead>
    <tbody>
      {{#if data}}
        {{#each data}}
          <tr>
            <td class="font-weight-bold border-right">{{this.shop}}</td>
            <td>{{milleDisplay this.CA_caisse_P1}}€</td>
            <td>{{milleDisplay this.CA_caisse_P2}}€</td>
            <td class="font-weight-bold {{prog_plus this.PROG_CA_ttc}} border-right">{{this.PROG_CA_ttc}}%</td>
            <td>{{this.POURC_marge_P1}}%</td>
            <td>{{milleDisplay this.MARGE_P1}}€</td>
            <td>{{this.POURC_marge_P2}}%</td>
            <td class="font-weight-bold {{prog_plus this.PROG_euro_Marge_pourc}} border-right">{{milleDisplay this.MARGE_P2}}€</td>
            <td>{{milleDisplay this.STOCK_fin_P1}}€</td>
            <td>{{milleDisplay this.STOCK_fin_P2}}€</td>
            <td class="font-weight-bold {{prog_moins this.PROG_Stock_fin}}">{{this.PROG_Stock_fin}}%</td>
            <td>{{milleDisplay this.STOCK_Theorique}}€</td>
            <td class="font-weight-bold {{prog_moins this.STOCK_surplus_POURC}} border-right">{{this.STOCK_surplus_POURC}}%</td>
            <td>{{milleDisplay this.Qt_venteCaisse_P1}}</td>
            <td>{{milleDisplay this.Qt_venteCaisse_P2}}</td>
            <td class="font-weight-bold {{prog_plus this.PROG_Qt_Ventes}} border-right">{{this.PROG_Qt_Ventes}}%</td>
            <td>{{milleDisplay this.Qt_tickets_P1}}</td>
            <td>{{milleDisplay this.Qt_tickets_P2}}</td>
            <td class="font-weight-bold {{prog_plus this.PROG_Qt_ticket}} border-right">{{this.PROG_Qt_ticket}}%</td>
            <td>{{this.IDV_P1}}</td>
            <td class="border-right">{{this.IDV_P2}}</td>
            <td>{{milleDisplay this.PANIER_moyen_P1}}€</td>
            <td>{{milleDisplay this.PANIER_moyen_P2}}€</td>
            <td class="font-weight-bold {{prog_plus this.PROG_PanierMoyen}} border-right">{{this.PROG_PanierMoyen}}%</td>
            <td>{{milleDisplay this.CA_m2_P1}}€</td>
            <td>{{milleDisplay this.CA_m2_P2}}€</td>
          </tr>
        {{/each}}
        <tr class="font-weight-bold">
          <td >{{total.shop}}</td>
          <td>{{milleDisplay total.CA_caisse_P1}}€</td>
          <td>{{milleDisplay total.CA_caisse_P2}}€</td>
          <td class="{{prog_plus total.PROG_CA_ttc}}">{{total.PROG_CA_ttc}}%</td>
          <td>{{total.POURC_marge_P1}}%</td>
          <td>{{milleDisplay total.MARGE_P1}}€</td>
          <td>{{total.POURC_marge_P2}}%</td>
          <td class="{{prog_plus total.PROG_euro_Marge_pourc}}">{{milleDisplay total.MARGE_P2}}€</td>
          <td>{{milleDisplay total.STOCK_fin_P1}}€</td>
          <td>{{milleDisplay total.STOCK_fin_P2}}€</td>
          <td  class="{{prog_moins total.PROG_Stock_fin}}">{{total.PROG_Stock_fin}}%</td>
          <td>{{milleDisplay total.STOCK_Theorique}}€</td>
          <td class="{{prog_moins total.STOCK_surplus_POURC}}">{{total.STOCK_surplus_POURC}}%</td>
          <td>{{milleDisplay total.Qt_venteCaisse_P1}}</td>
          <td>{{milleDisplay total.Qt_venteCaisse_P2}}</td>
          <td class="{{prog_plus total.PROG_Qt_Ventes}}">{{total.PROG_Qt_Ventes}}%</td>
          <td>{{milleDisplay total.Qt_tickets_P1}}</td>
          <td>{{milleDisplay total.Qt_tickets_P2}}</td>
          <td class="{{prog_plus total.PROG_Qt_ticket}}">{{total.PROG_Qt_ticket}}%</td>
          <td>{{milleDisplay total.IDV_P1}}</td>
          <td>{{milleDisplay total.IDV_P2}}</td>
          <td>{{milleDisplay total.PANIER_moyen_P1}}€</td>
          <td>{{milleDisplay total.PANIER_moyen_P2}}€</td>
          <td class="{{prog_plus total.PROG_PanierMoyen}}">{{total.PROG_PanierMoyen}}%</td>
          <td>{{total.CA_m2_P1}}€</td>
          <td>{{total.CA_m2_P2}}€</td>
        </tr>        
      {{else}}
        <div class="row">
          <div class="div col-12 text-center bg-light p-5">
            Il n'y a aucune donnée disponible pour cette semaine
          </div>
        </div>
      {{/if}}
    </tbody>
  </table>
</div>