
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Go Sport  - Compteurs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {{#if localhost}}
      <link rel="stylesheet" href="http://localhost:8000/main.css">
    {{else}}
      <link rel="stylesheet" href="/assets/public/main.css">
    {{/if}}
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">GO Sport - Prioux</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chiffres</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              {{#if week}}
                <a class="dropdown-item" href="/compteurs/shop?week={{week}}&year={{year}}">Magasins</a>
                <a class="dropdown-item" href="/compteurs/departement?week={{week}}&year={{year}}">Départements</a>
                <a class="dropdown-item" href="/compteurs/details?week={{week}}&year={{year}}">Détails</a>
                <a class="dropdown-item" href="/compteurs/fidelite?week={{week}}&year={{year}}">Fidélité</a>
              {{else}}
                <a class="dropdown-item" href="/compteurs/shop">Magasins</a>
                <a class="dropdown-item" href="/compteurs/departement">Départements</a>
                <a class="dropdown-item" href="/compteurs/details">Détails</a>
                <a class="dropdown-item" href="/compteurs/fidelite">Fidélité</a>
              {{/if}}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Championnat</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/championnat/shop">Magasin</a>
              <a class="dropdown-item" href="/championnat/departement-l1">Departement L1</a>
              <a class="dropdown-item" href="/championnat/departement-l2">Departement L2</a>
            </div>
          </li>
          {{#if localhost}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Import</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/import/shop">Magasin</a>
              <a class="dropdown-item" href="/import/departement">Departement</a>
              <a class="dropdown-item" href="/import/fidelite">Fidélité</a>
            </div>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <div class="container-fluid pt-5">
      <div class="row">
        <main role="main" class="col-12 px-4">
          {{#if password}}
            {{{body}}}
          {{else}}
            <div class="row">
              <div class="col-md-6 mx-auto">
                <form action="/login" method="post" class="mt-5 pt-5">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Valider</button>
                </form>                
              </div>
            </div>

          {{/if}}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- controllers -->
    
    {{#if localhost}}
      <script src="http://localhost:8000/app.js"></script>
    {{else}}
      <script src="/assets/js/data-shop.js"></script>
    {{/if}}
  </body>
</html>
